body {
    margin: 0;
    font-family: 'Roboto', monospace;
    background-color: #735252;
}

.topnav {
    background-color: #372E2E;
    overflow: hidden;
    border-bottom: 2px solid;
    border-color: #564247;
    justify-content: space-between;
    display: flex;
}

.topnav a {
    display: flex;
    float: left;
    color: #FFD9D7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2.5px;
}

.topnav-right {
    float: right;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    font-size: 22px;
    line-height: 1;
}